<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/navbar.ejs")%> 
    <article id = "admin-board">
        <img id = "admin-board-avatar" src = "/images/big-brother.svg" alt = "big-brother"/>
        <section id = "info-section">
            <h3>Admin Board:</h3>
            <table id = "admin-table">
              <tr>
                  <th>avatar</th>
                  <th>username</th>
                  <th>member</th>
                  <th>admin</th>
                  <th>join date</th>
              </tr>
              <%allUsers.map(user => {%>
                  <tr id = "user-header">
                    <td><img src = "/images/<%=user.avatar%>.svg" alt = "user-avatar"/></td>
                    <td><%=user.username%></td>
                    <td><img src = "/images/<%=user.member ?'checked':'cross'%>.svg" alt = "member-icon"/></td>
                    <td><img src = "/images/<%=user.admin ?'checked':'cross'%>.svg" alt = "admin-icon"/></td>
                    <td><%=user.join_date_formatted%></td>
                  </tr>
                  <%const hasMSG = allMessages.some(message => {%>
                    <%return JSON.stringify(message.user) === JSON.stringify(user._id)%>
                  <%})%>
                    <%if(hasMSG){%>
                        <tr style = "color: #d4b31c">
                            <th></th>
                            <th></th>
                            <th>delete message</th>
                            <th>message title</th>
                            <th>post date</th>
                        </tr>
                        <%allMessages.map(message => {%>
                            <%if(JSON.stringify(message.user) === JSON.stringify(user._id)){%>
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td><a href = "/delete-message/admin/<%=message._id%>"><img src = "/images/trash.svg" alt = "trashcan" /></a></td>
                                  <td><a href = "/delete-message/admin/<%=message._id%>"><%=message.title%></a></td>
                                  <td><%=message.post_date_calendar%> | <%=message.post_date_time%> </td>
                              </tr>
                            <%}%>
                        <%})%>
                    <%} else{%>
                        <tr><td colspan = "5">this user has no messages yet</td></tr>
                    <%}%>
              <%})%>
        </table>
        </section>
    </article>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>