<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/navbar.ejs")%>
    <form id = "submit-form" action = "/delete-message/<%=message._id%>" method = "POST">
        <img id = "submit-form-avatar" src = "/images/email.png" alt = "message" style = "width:80px"/>
          <div id = "delete-field">
              <h3 id = "delete-form-username"><%=message.user.username%></h3>
              <div class = "flex-center">
                <h1><%=message.title%></h1>
                <p style = "font-size:12px; padding-top:3px"><%=message.post_date_calendar%> | <%=message.post_date_time%></p>
              </div>
              <p class = "grey-bg"><%=message.message%></p>
              <div class = "input-field input-field-psw input-field-psw-smaller">
                <input id = "password" 
                    type = "password"
                    name = "password"
                placeholder = "secret password"/>
                <button type = "submit">Delete Message</button>
              </div>
              <%if(errMsg.length>0){%>
                <p id = "err-msg-login" style = "align-self:unset">Incorrect password</p>
              <%}%>
            </div>
    </from>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>