<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/navbar.ejs")%>
    <article id = "message-wall">
      <%messages.map(message => {%> 
        <section class = "message">
          <img class = "avatar" src = "/images/<%=message.user.avatar%>.svg" alt = "profile-pic"/>
          <div class = "flex-wrapper">
            <h3 class = '<%=message.user.avatar%>-color' ><%=message.title%></h3>
            <%if(!user){%>
               <p><a href = "/sign-up">Sign up</a> and become a member to see this message</p>
             <%} else{%>
                <%if(user.member || user.admin){%>
                  <p style = "line-height: 22px"><%=message.message%></p>
                <%}else{%>
                    <p style = "line-height: 25px">
                      Become a member to see this message! <br>The password is: <span style = "color:#d1b848">vanillamilkshake</span></br>
                      Or to become an admin just type in <span style = "color:#d1b848">cheeseburger</span>
                    </p>
                  <%}%>
              <%}%>
            <div id = "date"><%=message.post_date_calendar%> | <%=message.post_date_time%></div>
            <div id = "username" class = '<%=message.user.avatar%>-color'><img src = "/images/<%=message.user.avatar%>.svg">
              <%if(!user || !user.member){%>
                <%=message.user.avatar%>
              <%}else{%>
                <%=message.user.username%>
              <%}%>
            </div>
          </div>
        </section>
      <%})%>
    </article>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
